:root {
    --main-color: #944574;
    --main-color-alt: #b95790;
    --main-color-light: #bd5994e3;
    --border-radius: 5px;
    --danger: #dc3545;
    --input-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);
    --box--shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}



* {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Cairo", sans-serif;
    margin: 0;
}

.logo {
    width: 70px;
    height: auto;
}

/* Header */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: ltr;

}

nav {

    border-bottom: var(--main-color) 1px solid;
    margin-bottom: 10px;
}

.register-nav {
    outline: none;
    border: none;
    background-color: var(--main-color);
    padding: 6px;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

/* Register */
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

form,
.form {
    width: 100%;
    box-shadow: var(--box--shadow);
    padding: 20px;
}

input {
    padding: 10px 20px;
    width: 100%;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: var(--input-shadow);
    transition: 0.3s;
    margin-bottom: 8px;
    direction: rtl;
}

input:focus {
    border: 2px solid var(--main-color);
}

input::placeholder {
    color: rgb(0, 0, 0, 0.3);
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.register button {
    outline: none;
    border: none;
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
}

.register button:hover,
.register-nav:hover {
    background-color: white;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.label {
    color: var(--main-color-alt);
    display: block;
    padding: 6px 2px;
    font-size: 19px;
    font-weight: 600px;
}

.error {
    color: var(--danger);
    font-size: 14px;
    margin-top: 0;
}

.link {
    color: var(--main-color-light);
    padding: 6px 1px;
    font-size: 17px;
    font-weight: 600p
}

.h6 {
    font-weight: 700;
    font-size: 16px;
    padding-right: 15px;
}

/* Styles for large screens (desktops) */
@media (min-width: 1024px) {


    .logo {
        width: 100px;
    }

    .register-nav,
    .register button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .label {
        font-size: 18px;
    }

    input {
        padding: 12px 20px;
        font-size: 16px;
    }

    .h6 {
        font-size: 16px;
        padding-right: 15px;
    }
}

/* Styles for medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {

    .logo {
        width: 80px;
    }

    .register-nav,
    .register button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .label {
        font-size: 16px;
    }

    input {
        padding: 10px 15px;
        font-size: 14px;
    }

    .h6 {
        font-size: 14px;
        padding-right: 10px;
    }
}

/* filter button */

.button_grp {
    overflow-x: auto;
    /* يسمح بالتمرير الأفقي */
    white-space: nowrap;
    /* يمنع التفاف العناصر */
}

.button_grp ul {
    display: inline-flex;
    /* استخدام inline-flex للسماح بالتمرير */
}

.button_grp ul li {
    background: #fff;
    margin: 7px;
    padding: 10px 15px;
    min-width: 80px;
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: var(--input-shadow);
}

.button_grp ul li.active {
    background: var(--main-color);
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.button_grp ul li:hover {
    background-color: var(--main-color-light);
    color: #fff;
}

/* Icons */
.icon_bar {
    font-size: xx-large;
    color: var(--main-color);
}

/* side bar */
.sidebar {
    position: fixed;
    top: 10%;
    right: 3%;
    width: fit-content;
    height: fit-content;
    border-radius: var(--border-radius);
    background-color: var(--main-color-alt);
    box-shadow: var(--input-shadow);
    z-index: 1000;
}

.sidebar-content {
    position: relative;
    padding: 20px;
    font-size: large;
    color: white;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.sidebar-element {
    display: block;
    color: white;
    margin-bottom: 12px;
    box-shadow: 0px 5px 12px -4px rgb(0 0 0 / 10%);
}

.whats {
    position: fixed;
    font-size: 50px;
    bottom: 2%;
    left: 3%;
    color: lightgreen;
    z-index: 400;
}
