:root {
    --main-color: #944574;
    --main-color-alt:#b95790;
    --main-color-light:#bd5994e3;
    --input-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);
    --box--shadow : 0px 2px 15px rgb(0 0 0 / 10%);
}

.container {
    padding: 0 50px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-family: "Cairo", sans-serif;
    margin: 0;
}

.logo {
    width: 70px;
    height: auto;
}

/* Header */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: ltr;
}

.register-nav {
    outline: none;
    border: none;
    background-color: var(--main-color);
    padding: 6px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

/* Register */
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    box-shadow: var(--box--shadow);
    padding: 20px;
}

input {
    padding: 10px 20px;
    width: 100%;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: var(--input-shadow);
    transition: 0.3s;
    margin-bottom: 8px;
    direction: rtl;
}

input:focus {
    border: 2px solid var(--main-color);
}

input::placeholder {
    color: rgb(0, 0, 0, 0.3);
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.register button {
    outline: none;
    border: none;
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
}

.register button:hover,
.register-nav:hover {
    background-color: white;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.label {
    color: var(--main-color-alt);
    display: block;
    padding: 6px 2px;
    font-size: 19px;
    font-weight: 600px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 0;
}
.link {
    color: var(--main-color-light);
    padding: 6px 1px;
    font-size: 17px;
    font-weight: 600p
}
.h6 {
    font-weight: 700;
    font-size: 16px;
    padding-right: 15px;
}